---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1075532/stories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken: "********NO**********"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '18'
      X-Tracker-Pagination-Total:
      - '7'
      X-Tracker-Pagination-Offset:
      - '0'
      X-Tracker-Pagination-Limit:
      - '100'
      X-Tracker-Pagination-Returned:
      - '7'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "story",
            "id": 70888518,
            "created_at": "2014-05-06T06:00:00Z",
            "updated_at": "2014-05-07T20:28:07Z",
            "estimate": 2,
            "story_type": "feature",
            "name": "As a user, I can view all of my projects",
            "description": "Given I'm on the homepage\nWhen I click on \"View Projects\"\nI see a list of all projects\n\n---\nUse your own API token. Make sure you don't commit it (dotenv-rails). (https://www.pivotaltracker.com/help/api#Basics)",
            "current_state": "delivered",
            "requested_by_id": 1308466,
            "project_id": 1075532,
            "url": "https://www.pivotaltracker.com/story/show/70888518",
            "owner_ids": [
              1256946
            ],
            "labels": [

            ],
            "owned_by_id": 1256946
          },
          {
            "kind": "story",
            "id": 70888520,
            "created_at": "2014-05-06T06:00:00Z",
            "updated_at": "2014-05-07T21:28:37Z",
            "estimate": 1,
            "story_type": "feature",
            "name": "As a user, I can view all of the stories for a project",
            "description": "Given I'm go to the homepage\nWhen I click on a project\nI see a list of all of that projects stories",
            "current_state": "deliv[...]
