<h1>API In Class Homework</h1>

<p><a href="/current_weather">Current Weather API</a>&nbsp;|&nbsp;<a href="/forecast_weather">Forecast Weather API</a></p>
<p><a href="/tracker_projects">Tracker API - Projects</a>&nbsp;|&nbsp;<a href="/tracker_stories">Tracker API - Stories</a>&nbsp;|&nbsp;<a href="/tracker_details">Tracker API - Story Details</a></p>